<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!-- Urls for data -->
        <add key="MyUserDataUrl" value="/port/v1/users/me" />
        <add key="MyClientDataUrl" value="/port/v1/clients/me" />
        <add key="MyAccountDataUrl" value="/port/v1/accounts/me" />
        <add key="MyOrdersDataUrl" value="/port/v1/orders/me" />
        <add key="ClientAccountBalancesDataUrl" value="/port/v1/balances" />
        <add key="InstrumentsDataUrl" value="/ref/v1/instruments" />
        <add key="OrdersUrl" value="/trade/v2/orders" />
        <!-- Config urls -->
        <add key="ApiKey" value="eyJhbGciOiJFUzI1NiIsIng1dCI6IkQ2QzA2MDAwMDcxNENDQTI5QkYxQTUyMzhDRUY1NkNENjRBMzExMTcifQ.eyJvYWEiOiI3Nzc3NyIsImlzcyI6Im9hIiwiYWlkIjoiMTA5IiwidWlkIjoicXx5d3F3TUw2eTAtbTQ4ZHF5c0dtQT09IiwiY2lkIjoicXx5d3F3TUw2eTAtbTQ4ZHF5c0dtQT09IiwiaXNhIjoiRmFsc2UiLCJ0aWQiOiIyMDAyIiwic2lkIjoiMjE4N2RiMmUzMWJjNGY2ZGI0ZDNkZDgzMWRmZjQ2YzAiLCJkZ2kiOiI4NCIsImV4cCI6IjE1ODE0NTQ4MjMifQ.fG1Di5epMA3lSxNGH4RyD_5vpq1Z-hOC58Ji79rfuUFsDqoDoVMvegHxGyNNg0UU3WwDtsJTi7GwtYP_42j43g" />
        <add key="ApiSecret" value="eyJhbGciOiJFUzI1NiIsIng1dCI6IkQ2QzA2MDAwMDcxNENDQTI5QkYxQTUyMzhDRUY1NkNENjRBMzExMTcifQ.eyJvYWEiOiI3Nzc3NyIsImlzcyI6Im9hIiwiYWlkIjoiMTA5IiwidWlkIjoicXx5d3F3TUw2eTAtbTQ4ZHF5c0dtQT09IiwiY2lkIjoicXx5d3F3TUw2eTAtbTQ4ZHF5c0dtQT09IiwiaXNhIjoiRmFsc2UiLCJ0aWQiOiIyMDAyIiwic2lkIjoiMjE4N2RiMmUzMWJjNGY2ZGI0ZDNkZDgzMWRmZjQ2YzAiLCJkZ2kiOiI4NCIsImV4cCI6IjE1ODE0NTQ4MjMifQ.fG1Di5epMA3lSxNGH4RyD_5vpq1Z-hOC58Ji79rfuUFsDqoDoVMvegHxGyNNg0UU3WwDtsJTi7GwtYP_42j43g" />
        <add key="AuthenticationUrl" value="https://sim.logonvalidation.net" />
        <add key="OpenApiBaseUrl" value="https://gateway.saxobank.com/sim/openapi" />
        <add key="StreamingBaseUrl" value="https://streaming.saxotrader.com/sim/openapi" />
        <!-- Streaming urls -->
        <add key="SubscriptionUrl" value="/trade/v1/infoprices/subscriptions/active" />
        <add key="DeleteSubscriptionUrl" value="/trade/v1/infoprices/subscriptions" />
        <add key="StreamingConnectionUrl" value="/streaming/connection" />
        <add key="StreamingStickinessUrl" value="/streaming/isalive" />
        <add key="ServiceStickinessUrl" value="/trade/isalive" />
    </appSettings>
</configuration>